.contact-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    
  }
  
  .contact-component {
    background-color: #e9c874;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ensure full width */
  }
  
  .contact-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-logo {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
  }
  
  .contact-title {
    color: black;
    text-align: center;
  }
  
  .contact-title h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .contact-title p {
    font-size: 1rem;
  }
  
  .contact-subscribe {
    background-color: black;
    color: #e9c874;
    border-radius: 50%;
    padding: 0.8rem 1rem;
    font-weight: bold;
  }
  
  .contact-subscribe:hover {
    background-color: #f0f0f0;
  }
  
  .contact-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .contact-icon {
    font-size: 2rem; /* Increase the size of all contact icons */
    color: black;
  }
  
  .contact-icons a img {
    width: 32px;
    height: 32px;
  }